results/
!results/.gitkeep

datasets/
!datasets/.gitkeep

pre_trained/
!pre_trained/.gitkeep
RadImageNet_pytorch/
!RadImageNet_pytorch/.gitkeep

__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/
*.ipynb

.DS_Store
*.log
